<html>
{{ template "header" }}
<body>
    <div class="container-fluid bg-1 text-center">
    <h1><a href="https://foobot.io/">FooBot</a> Indoor Air Quality Metrics:</h1>

    <h3><a href="https://github.com/clayshek/go-foobot-api-client" target="_blank" class="fa fa-github">   https://github.com/clayshek/go-foobot-api-client</a></h3>
    <h6>This site a work in progress...</h6>
    <br>
    <table class="table table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Datetime</th>  
                <th>Seconds Since Epoch</th>
                <th>Particles (ugm3)</th>
                <th>Temp (Cel)</th>
                <th>Humidity %</th>
                <th>CO2 (PPM)</th>
                <th>VOC (PPB)</th>
                <th>Pollution Score</th>
            </tr>    
        </thead>    
        {{range .}}
            <tr>
                <td>{{.Datetime}}</td>
                <td>{{.Seconds_since_epoch}}</td>
                <td>{{.Particles_ugm3}}</td>
                <td>{{.Temp_c}}</td>
                <td>{{.Humidity_perct}}</td>
                <td>{{.Co2_ppm}}</td>
                <td>{{.Voc_ppb}}</td>
                <td>{{.Pollution_score}}</td>
            </tr>
        {{end}}
    </table>
    </div>
</body>
</html>